.container_main {
	margin-top: 10px;
	overflow-wrap: break-word;
	display: grid;
	/*grid-template-columns: 3fr 1fr 4fr 1fr;*/
	grid-template-columns: minmax(200px, 4fr) minmax(200px, 2fr) minmax(200px, 3fr) minmax(200px, 1fr);
	grid-auto-flow: column;
	overflow-x: auto;
}

.newsList {
	border-right: 1px solid gray;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
