@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

.resultCard {
    padding: 0 10px 0 10px;
    transition: all .7s;
    border-bottom: 1px solid gray;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.resultHeading {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    color: #2f2f2f;
    font-weight: bold;
}
.resultInfo {
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    margin-bottom: 15px;
}
.resultInfo a {
    text-decoration: none; 
}

.resultContent {
    text-align: left;
    font-family: 'Rokkitt', serif;
}